[submodule "third_party/gRPC"]
	path = gRPC
	url = https://github.com/grpc/grpc
	branch = v1.18.0
[submodule "third_party/protobuf"]
	path = protobuf
	url = https://github.com/google/protobuf.git
	branch = 3.6.x
